mixin postInfo(item)
    .post-info
        .post-info-item
            i.iconfont.icon-time
            span
                != full_date(item.date, 'll')
        .post-info-item
            i.iconfont.icon-category
            - item.categories.each(function (content) {
                span
                    != content.name
            -})
        .post-info-item
            i.iconfont.icon-tag
            - item.tags.each( function (content) {
                span.tag
                    != content.name
            - })
        if item.from && (is_home() || is_post())
            a.post-from(href=item.from target="_blank" title=item.from) 翻译 · 原文地址

mixin postTags(item)
    .post-tag
        - item.tags.each( function (content) {
            span
                != content.name
        - })
    .post-categories
        - item.categories.each(function (content) {
            span
                != content.name
        -})

//- pagination page
mixin home()
    - var prev = page.prev_link
    - var next = page.next_link
    .paginator
        if page.prev
            a.prev(href=url_for(prev))!= __('prev')
        if page.next
            a.next(href=url_for(next))!= __('next')

//- pagination post
mixin postPagination()
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    .paginator
        if prev
            a.prev(href=url_for(prev))!= __('prev_post')
        if next
            a.next(href=url_for(next))!= __('next_post')

//- Index Page
mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo(item)
                    .post-content
                        != item.excerpt
                    a.read-more(href= url_for(item.path))!= __('more')
        - })
        +home()

//- Archive Page
mixin postList()
    .archive
        h1.post-title 归档
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change
                h2.archive-year!= year
            .post-item
                +postInfo(item)
                a.post-title-link(href= url_for(item.path))
                    != item.title
        - })

// - Side Page
mixin recentPostList ()
    .side-wrap
        .about
            p.module-title 关于我
            div.about-wrap
                p.about-content
                    != theme.about
        .recent-post-list
            p.module-title 近期文章
            div.recent-wrap
                - var recentPosts = site.posts.slice().sort(function (a, b) {
                    return Date.parse(b.date) - Date.parse(a.date);
                - }).slice(0, 10);
                - recentPosts.each(function (item) {
                    .post-item
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                - })
                div.read-more
                    a.read-more-link(href="http://www.monster1935.site/blog/archives") 查看更多
        .contact-list
            p.module-title 联系我
            ul.contact-me
                - var icon = theme.icon
                each value, key in theme.way
                    li
                        a(href=url_for(value) title=key target="_blank")
                            i.iconfont(class=icon[key])

//- About Page
mixin about(item)
    .post
        article.post-block
            h1.post-title
                != item.title
            .post-content
                != item.content

//- Lab Page
mixin lab(item)
    .post
        article.post-block
            h1.post-title
                != item.title
            .post-content
                div.lab
                    div.lab-box
                        - config.projects.forEach(function(item, index) {
                            div.lab-box-block
                                a(href=url_for(item.link))
                                    img(src=item.imgPath)
                                div.lab-block-content
                                    div.lab-block-title
                                        a(href=url_for(item.link))
                                            != item.title
                                    div.lab-block-desp
                                        != item.description

                        - })

//- Post Page
mixin post(item)
    .post
        article.post-block
            .post-head
                h1.post-title
                    != item.title
                +postInfo(item)
            .post-content
                != item.content
        +postPagination()
