mixin postInfo(item)
    .post-info
        .post-info-item
            i.iconfont.icon-time
            span
                != full_date(item.date, 'll')
        .post-info-item
            - if (item.categories && item.categories.length) {
                i.iconfont.icon-category
                - item.categories.each(function (content) {
                    span
                        != content.name
                -})
            - }

        .post-info-item
            - if (item.tags && item.tags.length) {
                i.iconfont.icon-tag
                - item.tags.each( function (content) {
                    span.tag
                        != content.name
                - })
            - }
        if item.from && (is_home() || is_post())
            a.post-from(href=item.from target="_blank" title=item.from) 翻译 · 原文地址

mixin postTags(item)
    .post-tag
        - item.tags.each( function (content) {
            span
                != content.name
        - })
    .post-categories
        - item.categories.each(function (content) {
            span
                != content.name
        -})

//- pagination page
mixin home()
    - var prev = page.prev_link
    - var next = page.next_link
    .paginator
        if page.prev
            a.prev(href=url_for(prev))!= __('prev')
        if page.next
            a.next(href=url_for(next))!= __('next')

//- pagination post
mixin postPagination()
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    .paginator
        if prev
            a.prev(href=url_for(prev))!= __('prev_post')
        if next
            a.next(href=url_for(next))!= __('next_post')

//- Index Page
mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo(item)
                    .post-content
                        != item.excerpt
                    a.read-more(href= url_for(item.path))!= __('more')
        - })
        +home()

//- Archive Page
mixin postList()
    .archive
        h1.post-title 归档
        p.post-desp
            != '共计'+ page.posts.length +'篇日志'
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change
                h2.archive-year!= year
            .post-item
                span.post-time
                    != full_date(item.date, 'll')
                a.post-title-link(href=url_for(item.path))
                    != item.title
        - })
// - category page
mixin categoryList()
    .categories
        h1.categories-title
            != page.title
        div.categories-wrap
            - site.categories.each(function (item) {
                .categories-item
                    a.categories-item-link(href=url_for(item.path))
                        != item.name + ' ('+ item.length + ')'
            - })
// - tag-page
mixin tagList()
    .tags
        h1.tags-title
            != page.title
        div.tags-wrap
            - site.tags.each(function (item) {
                .tags-item
                    a.tags-item-link(href=url_for(item.path))
                        != item.name + ' ('+ item.length + ')'
            - })

//- About Page
mixin about(item)
    .about
        h1.post-title
            != item.title
        div.about-wrap
            != item.content

// - Side Page
mixin recentPostList ()
    .side-wrap
        .about-side.side-wrap-item
            p.module-title 关于我
            div.about-wrap
                p.about-content
                    != theme.about
                div.read-more
                    a.read-more-link(href=url_for("/about")) 查看更多
        .categories-side.side-wrap-item
            p.module-title 文章分类
            div.categories-wrap
                - site.categories.each(function (item) {
                    .categories-item
                        a.categories-item-link(href= url_for(item.path))
                            != item.name + ' ('+ item.length + ')'
                - })
        .recent-post-list.side-wrap-item
            p.module-title 近期文章
            div.recent-wrap
                - var recentPosts = site.posts.slice().sort(function (a, b) {
                    return Date.parse(b.date) - Date.parse(a.date);
                - }).slice(0, 10);
                - recentPosts.each(function (item) {
                    .post-item
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                - })
                div.read-more
                    a.read-more-link(href=url_for("/archives")) 查看更多
        .tags-side.side-wrap-item
            p.module-title 标签云
            div.tags-wrap
                - site.tags.slice(0,25).each(function(item) {
                    a.tags-item-link(href=url_for(item.path))
                        != item.name + '('+ item.length+')'
                - })
                div.read-more
                    a.read-more-link(href=url_for("/tags")) 查看更多

        .contact-list.side-wrap-item
            p.module-title 联系我
            ul.contact-me
                - var icon = theme.icon
                each value, key in theme.way
                    li
                        a(href=url_for(value) title=key target="_blank")
                            i.iconfont(class=icon[key])

//- Post Page
mixin post(item)
    .post
        article.post-block
            .post-head
                h1.post-title
                    != item.title
                +postInfo(item)
            .post-content
                != item.content
        +postPagination()
